# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives: To learn Data Science**

Popular languages for Data Science:
- R 
- Python 
- Java

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. Java

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Scipy

|Data Science Tools|
--------------------
|Jupyter Notebooks|
|R Studio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
a=200
b=60
result=a/b
print(result)

3.3333333333333335

## Author

Sagar